Trefoil.Deployment/Service References/TService/TrefoilService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trefoil.Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trefoil.Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogDto" nillable="true" type="tns:LogDto" />
  <xs:complexType name="ArrayOfLogDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogDto" nillable="true" type="tns:LogDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogDto" nillable="true" type="tns:ArrayOfLogDto" />
</xs:schema>