Trefoil.Deployment/Service References/TService/TrefoilService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrefoilService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Trefoil.Service/TrefoilService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Trefoil.Service/TrefoilService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Trefoil.Service/TrefoilService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Trefoil.Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrefoilService_AddLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLog" />
  </wsdl:message>
  <wsdl:message name="ITrefoilService_AddLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLogResponse" />
  </wsdl:message>
  <wsdl:message name="ITrefoilService_GetLogList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogList" />
  </wsdl:message>
  <wsdl:message name="ITrefoilService_GetLogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogListResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrefoilService">
    <wsdl:operation name="AddLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrefoilService/AddLog" message="tns:ITrefoilService_AddLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrefoilService/AddLogResponse" message="tns:ITrefoilService_AddLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrefoilService/GetLogList" message="tns:ITrefoilService_GetLogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrefoilService/GetLogListResponse" message="tns:ITrefoilService_GetLogList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrefoilService" type="tns:ITrefoilService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLog">
      <soap:operation soapAction="http://tempuri.org/ITrefoilService/AddLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogList">
      <soap:operation soapAction="http://tempuri.org/ITrefoilService/GetLogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrefoilService">
    <wsdl:port name="BasicHttpBinding_ITrefoilService" binding="tns:BasicHttpBinding_ITrefoilService">
      <soap:address location="http://localhost/Trefoil.Service/TrefoilService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>